[submodule "oh-my-zsh"]
	path = oh-my-zsh
	url = https://github.com/ohmyzsh/ohmyzsh.git
	branch = master
	update = merge
[submodule "vim/plugged/ale"]
	path = vim/plugged/ale
	url = https://github.com/dense-analysis/ale.git
	branch = master
	update = merge
[submodule "vim/plugged/auto-pairs"]
	path = vim/plugged/auto-pairs
	url = https://github.com/jiangmiao/auto-pairs.git
[submodule "vim/plugged/fzf"]
	path = vim/plugged/fzf
	url = https://github.com/junegunn/fzf.git
	branch = master
	update = merge
[submodule "vim/plugged/fzf.vim"]
	path = vim/plugged/fzf.vim
	url = https://github.com/junegunn/fzf.vim.git
	branch = master
	update = merge
[submodule "vim/plugged/jedi-vim"]
	path = vim/plugged/jedi-vim
	url = https://github.com/davidhalter/jedi-vim.git
[submodule "vim/plugged/nerdcommenter"]
	path = vim/plugged/nerdcommenter
	url = https://github.com/preservim/nerdcommenter.git
[submodule "vim/plugged/nerdtree"]
	path = vim/plugged/nerdtree
	url = https://github.com/preservim/nerdtree.git
	branch = master
	update = merge
[submodule "vim/plugged/vim-polyglot"]
	path = vim/plugged/vim-polyglot
	url = https://github.com/sheerun/vim-polyglot.git
	branch = master
	update = merge
[submodule "vim/plugged/vim-python-pep8-indent"]
	path = vim/plugged/vim-python-pep8-indent
	url = https://github.com/Vimjas/vim-python-pep8-indent.git
[submodule "vim/plugged/vista.vim"]
	path = vim/plugged/vista.vim
	url = https://github.com/liuchengxu/vista.vim.git
	branch = master
	update = merge
[submodule "powerlevel10k"]
	path = powerlevel10k
	url = https://github.com/romkatv/powerlevel10k.git
	branch = master
	update = merge
[submodule "zsh-syntax-highlighting"]
	path = zsh-syntax-highlighting
	url = https://github.com/zsh-users/zsh-syntax-highlighting.git
	branch = master
	update = merge
[submodule "p10k-media"]
	path = p10k-media
	url = https://github.com/romkatv/powerlevel10k-media.git
[submodule "fzf"]
	path = fzf
	url = https://github.com/junegunn/fzf.git
[submodule "tmux-plugins/tpm"]
	path = tmux-plugins/tpm
	url = https://github.com/tmux-plugins/tpm
[submodule "tmux-plugins/tmux-yank"]
	path = tmux-plugins/tmux-yank
	url = https://github.com/tmux-plugins/tmux-yank
[submodule "tmux-plugins/tmux-resurrect"]
	path = tmux-plugins/tmux-resurrect
	url = https://github.com/tmux-plugins/tmux-resurrect
[submodule "vim/plugged/vim-repl"]
	path = vim/plugged/vim-repl
	url = https://github.com/sillybun/vim-repl.git
	branch = master
[submodule "tmux-plugins/tmux-prefix-highlight"]
	path = tmux-plugins/tmux-prefix-highlight
	url = https://github.com/tmux-plugins/tmux-prefix-highlight
	branch = master
[submodule "tmux-plugins/tmux-cpu"]
	path = tmux-plugins/tmux-cpu
	url = https://github.com/tmux-plugins/tmux-cpu
	branch = master
[submodule "vim/plugged/vim-tmux-focus-events"]
	path = vim/plugged/vim-tmux-focus-events
	url = https://github.com/tmux-plugins/vim-tmux-focus-events
	branch = master
[submodule "vim/plugged/vim-tmux-clipboard"]
	path = vim/plugged/vim-tmux-clipboard
	url = https://github.com/roxma/vim-tmux-clipboard
	branch = master
[submodule "tmux-plugins/tmux-open"]
	path = tmux-plugins/tmux-open
	url = https://github.com/tmux-plugins/tmux-open
	branch = master
[submodule "vim/plugged/nord-vim"]
	path = vim/plugged/nord-vim
	url = https://github.com/arcticicestudio/nord-vim
	branch = master
[submodule "tmux-plugins/tmux-uptime"]
	path = tmux-plugins/tmux-uptime
	url = https://github.com/robhurring/tmux-uptime
	branch = master
[submodule "nord-gnome-terminal"]
	path = nord-gnome-terminal
	url = https://github.com/arcticicestudio/nord-gnome-terminal.git
	branch = master
